<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navigation -->
<!-- Page Content -->
<div class="container-fluid">
  <h2>Option Decay Analysis</h2>
  <div class="alert alert-secondary" role="alert">
    <form class="form-inline" action="/action_page.php">
      <label for="symbol">Symbol:</label>
      <select class="form-control" id="symbol" (change)="onItemSelect($event.target.value)"  [(ngModel)]="selectedOption1" name="symbol">
        <option *ngFor="let k of getSymbolData" [value]="k.SymbolName">
          {{k.SymbolName}}
        </option>
      </select>
      <label for="expiry">Expiry:</label>
      <select class="form-control" id="expiry"  [(ngModel)]="selectedOption2" name ="expiry">
        <option *ngFor="let k of getFilterExpiryData" [value]="k.ExpiryDates">
          {{k.ExpiryDates}}
        </option>
      </select>
      <button type="submit" class="btn btn-primary" (click)="getNSECALCData()">Submit</button>
    </form>

  </div>
  <div class="table table-bordered">
    <table class="table table-sm table-striped">
      <thead>
        <tr class="bg-primary text-white" >
          <th>Option Type</th>
          <th>Strike</th>
          <th>Open Interest</th>
          <th>Premium Change Direct</th>
          <th>Premium Change Reverse</th>
          <th>Change OI 1</th>
          <th>Change OI 2</th>
          <th>Change OI 3</th>
          <th>IV 1</th>
          <th>IV 2</th>
          <th>IV 3</th>
          <th>TradedVolume 1</th>
          <th>TradedVolume 2</th>
          <th>TradedVolume OI 3</th>
          <th>Probability</th>
        </tr>

      </thead>
      <tbody>
        <tr *ngFor="let i of getNSEData?.data ;let j= index;">
          <td>{{i.maxltp}} OI {{ i.type}}</td>
          <td>{{i.strikePrice}}</td>
          <td>{{i.openInterest}}</td>
          <td>{{i.decayAvg}}</td>
          <td>{{i.decayRevSum}}</td>
          <td>{{i.changeinOpenInterestmax1}}</td>
          <td>{{i.changeinOpenInterestmax2}}</td>
          <td>{{i.changeinOpenInterestmax3}}</td>
          <td>{{i.impliedVolatilitymax1}}</td>
          <td>{{i.impliedVolatilitymax2}}</td>
          <td>{{i.impliedVolatilitymax3}}</td>
          <td>{{i.totalTradedVolumemax1}}</td>
          <td>{{i.totalTradedVolumemax2}}</td>
          <td>{{i.totalTradedVolumemax3}}</td>
          <td>{{i.winningProb}}%</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div >
    <table class="table table-bordered table-sm table-striped">
      <thead>
        <tr class = "bg-dark text-white">
          <th>Option type</th>
          <th>Average Change Direct</th>
          <th>Average Change Reverse</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let m of getNSEData?.dataAvg ;let n= index;">
          <td>{{m.type}}</td>
          <td>{{m.decayAvg}}</td>
          <td>{{m.decayRevSum}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div >

    <table class="table table-bordered table-sm table-striped">
      <thead>
        <tr class = "bg-primary text-white">
          <th>Current Market Price (Spot)</th>
          <th>ATM CALL IV</th>
          <th>ATM PUT IV</th>
          <th>LAST UPDATED (DATA): H:M:S</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{getNSEData?.uvCurr}}</td>
          <td>{{getNSEData?.atm_call_iv}}</td>
          <td>{{getNSEData?.atm_put_iv}}</td>
          <td>{{getNSEData?.maxDatetime}}</td>
        </tr>
      </tbody>
    </table>
  </div> 
</div>
<!-- /.container -->